---
import ExternalLinkIcon from "../../public/assets/ExternalLink";
import GithubIcon from "../../public/assets/GithubIcon";
import type { CollectionEntry } from "astro:content";

interface Props {
  project: CollectionEntry<"projects">;
  position: "left" | "right";
}

const { position, project } = Astro.props;
const { title, description, image, githubUrl, liveUrl, techStack } =
  project.data;

const pageLink = `/projects/${project.slug}`;
---

<div
  id="cardId"
  class="relative flex w-full items-center md:flex-row flex-col justify-between bg-cover px-4 py-4 md:bg-none md:px-0 md:py-0 md:gap-0 gap-10"
>
  <a
    href={pageLink}
    class={`${
      position === "left" ? "md:order-1" : "md:order-2 "
    }  md:w-[60%] md:min-w[520px] md:h-[350px]  hover:ring-4 ring-offset-4  ring-offset-primary  hover:ring-secondary rounded-lg  drop-shadow-2xl group overflow-hidden transition-all duration-500 w-full`}
  >
    <div
      class="absolute z-10 h-full w-full bg-primary-700 object-cover opacity-30 bg-blend-overlay transition duration-500 group-hover:opacity-0"
    >
    </div>
    <img
      src={image}
      alt="projectImage"
      class="z-10 h-full w-full scale-100 object-cover transition-all duration-700 group-hover:scale-110 flex"
    />
  </a>

  <div
    class={`flex flex-col  w-full md:w-2/3 gap-8 md:gap-4  ${
      position === "left"
        ? "md:-ml-12 order-2 md:items-end items-center"
        : "md:-mr-12 order-1 md:items-start items-center"
    } `}
  >
    <div
      class={`${
        position === "left"
          ? "md:text-right text-center"
          : "md:text-left text-center"
      } `}
    >
      <h4 class="font-sans font-semibold text-secondary">Featured Project</h4>
      <h2 class="text-4xl font-bold hover:text-secondary md:text-4xl">
        <a href={pageLink}>
          {title}
        </a>
      </h2>
    </div>
    <div
      class="z-20 rounded-xl drop-shadow-md hover:drop-shadow-lg md:min-w-full md:bg-primary-glass/70 md:py-6 md:px-10"
    >
      <p
        class={`font-medium ${
          position === "left"
            ? "md:text-right text-center "
            : "md:text-left text-center"
        }`}
      >
        {description}
      </p>
    </div>
    <div
      class={`flex gap-4 text-secondary font-semibold flex-wrap items-start ${
        position === "left" ? "md:justify-end" : "md:justify-start"
      } justify-center md:w-[90%]`}
    >
      {techStack?.map((tag: string) => <p>{tag}</p>)}
    </div>
    <div class="flex gap-2">
      <a href={githubUrl} class="group" target="_blank">
        <GithubIcon
          class="stroke-2 stroke-white w-7 h-7 group-hover:stroke-secondary hover:stroke-secondary"
        />
      </a>
      <a href={liveUrl} class="group" target="_blank"
        ><ExternalLinkIcon
          class="stroke-2 w-7 group-hover:stroke-seconda hover:stroke-secondary"
        />
      </a>
    </div>
  </div>
</div>
