---
// eslint-disable-next-line @typescript-eslint/ban-ts-comment
// @ts-ignore
import ProjectCard from "./ProjectCard.astro";
import placeholder from "../../public/assets/placeholderProject.jpg";
import { projects } from "../content/projects.json";
---

<section
  id="projects"
  class="flex flex-col w-full gap-48 md:items-start items-center"
>
  <h1 class="font-section text-4xl md:text-5xl">
    Take a Look At <span class="text-secondary">My Projects</span>
  </h1>
  <div
    class="flex flex-col gap-64 items-center justify-center md:text-lg overflow-clip"
  >
    {
      projects.map((el) => {
        return (
          <div data-aos={`slide-${el.position === "left" ? "right" : "left"}`}>
            <ProjectCard
              title={el.title}
              img={placeholder}
              text={el.text}
              tags={el.tags}
              position={el.position}
              githubLink={el.githubLink}
              demoLink={el.demoLink}
            />
          </div>
        );
      })
    }
  </div>
</section>
<script>
  import "aos/dist/aos.css";
  import AOS from "aos";
  AOS.init({ duration: 2000, offset: 0, easing: "ease-out-sine" });
</script>
