---
import ProjectCard from "./ProjectCard.astro";
import { projects } from "../content/projects.json";
---

<section
  id="projects"
  class="flex w-full flex-col items-center gap-24 md:gap-48 pb-6 md:items-start"
>
  <h1 class="font-section text-4xl md:text-5xl md:text-left text-center">
    Take a Look At <span class="text-secondary">My Projects</span>
  </h1>
  <div
    class="flex flex-col items-center justify-center gap-24 md:gap-64 md:text-lg"
  >
    {
      projects.map((el) => {
        return (
          <div data-aos={`fade-up`}>
            <ProjectCard
              title={el.title}
              img={el.img}
              text={el.text}
              tags={el.tags}
              position={el.position}
              githubLink={el.githubLink}
              demoLink={el.demoLink}
            />
          </div>
        );
      })
    }
  </div>
</section>
<script>
  import "aos/dist/aos.css";
  import AOS from "aos";
  AOS.init({
    duration: 1000,
    offset: 100,
    once: false,
    easing: "ease-out-sine",
  });
</script>
