---
import ExternalLinkIcon from "../../public/assets/ExternalLink";
import GithubIcon from "../../public/assets/GithubIcon";

export interface Props {
  title: string;
  text: string;
  tags: string[];
  img: string;
  position: string;
  demoLink: string;
  githubLink: string;
}
const { title, text, tags, img, position, demoLink, githubLink } = Astro.props;
---

<div
  id="cardId"
  class="flex w-full relative justify-between items-center bg-cover md:bg-none md:px-0 md:py-0 px-4 py-4"
>
  <div
    class={`${
      position === "left" ? "order-1" : "order-2 "
    }  md:w-[60%] md:h-[350px] drop-shadow-2xl`}
  >
    <img
      src={img}
      alt="projectImage"
      class="md:flex hidden object-cover w-full h-full rounded-lg z-10"
    />
  </div>

  <div
    class={`flex flex-col  w-full md:w-2/3 gap-8 md:gap-4  ${
      position === "left"
        ? "md:-ml-12 order-2 md:items-end items-center"
        : "md:-mr-12 order-1 md:items-start items-center"
    } `}
  >
    <div
      class={`${
        position === "left"
          ? "md:text-right text-center"
          : "md:text-left text-center"
      } `}
    >
      <h4 class="font-sans text-secondary font-semibold">Featured Project</h4>
      <h2 class="font-bold md:text-4xl text-4xl hover:text-secondary">
        <a href={demoLink}>
          {title}
        </a>
      </h2>
    </div>
    <div
      class="md:bg-primary-glass/70 md:py-6 md:min-w-full md:px-10 z-20 rounded-xl drop-shadow-md hover:drop-shadow-lg"
    >
      <p
        class={`font-medium ${
          position === "left"
            ? "md:text-right text-center "
            : "md:text-left text-center"
        }`}
      >
        {text}
      </p>
    </div>
    <div
      class={`flex gap-4 text-secondary font-semibold flex-wrap items-start ${
        position === "left" ? "md:justify-end" : "md:justify-start"
      } justify-center md:w-[90%]`}
    >
      {tags.map((tag) => <p>{tag}</p>)}
    </div>
    <div class="flex gap-2">
      <a href={githubLink} class="group">
        <GithubIcon
          class="stroke-2 w-7 h-7 group-hover:stroke-secondary hover:stroke-secondary"
        />
      </a>
      <a href={demoLink} class="group"
        ><ExternalLinkIcon
          class="stroke-2 w-7 group-hover:stroke-seconda hover:stroke-secondary"
        />
      </a>
    </div>
  </div>
</div>
